/* Footer */
footer {
  background-color: #353535;
  display: block;
  text-align: center;
  padding: 35px 0px 35px 0px;
}
a.footer-title {
  font-size: 30px;
  color: white;
  font-family: "shrikhand";
}
div.footer-content {
  margin-top: 15px;
  color: white;
}
a.footer-title {
  font-size: 20px;
}
.footer-content-subtitle {
  margin-top: 12px;
  font-size: 15px;
}
footer a {
  color: white;
}
