// loader et l'opacite
.bloc-loader {
  border: 10px solid $gris;
  height: 170px;
  width: 170px;
  border-radius: 50%;
  border-top-color: $violet;
  position: fixed;
  left: 45%;
  top: 50%;
  animation: 2s loader linear forwards;
  z-index: 5;
}

.bloc {
  height: 100vh;
  width: 100%;
  z-index: 5;
  position: fixed;
  animation: 2s opacite forwards;
  background-color: white;
}
