/* Menu-Resto*/
h2.section-resto {
  text-align: center;
  padding-top: 35px;
  margin-top: 30px;
}
.step2 {
  display: grid;
  grid-template: repeat(2, 1fr) / repeat(2, 1fr);
  gap: 40px;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.menu {
  background-color: $grisclaire;
  border-radius: 35px 35px 0px 0px;
  display: block;
  padding: 0px 0px 40px 40px;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}

.block2 img {
  object-fit: cover;
  width: 100%;
  height: 130px;
  border-radius: 20px 20px 0px 0px;
}

.block2 {
  position: relative;
  box-shadow: 0 5px 16px #0000002e;
  border-radius: 20px;
  width: 98%;
  height: 220px;
  min-width: 250px;
  transition: all 200ms;
}
.block2:hover {
  transform: scale(1.05);
}

.resto-texte {
  color: black;
  margin-left: 10px;
}
.new {
  position: absolute;
  top: 0;
  right: 20px;
  background: $vertclaire;
  padding: 4px 13px;
  font-size: 14px;
  color: $vert;
  font-weight: 800;
}
a {
  text-decoration: none;
}
p.resto-subtitle {
  margin-top: -10px;
  font-size: 15px;
}
h3.resto-title {
  font-size: 16px;
}

.heart-white {
  margin-top: -60px;
  position: absolute;
  right: 59px;
  font-size: 24px;
}
.heart-black {
  margin-top: -80px;
  position: absolute;
  right: 59px;
}

/* Card-plat */
.description1 {
  font-weight: 400;
  font-family: "Shrikhand", cursive;
  font-size: 17px;
  display: flex;
  justify-content: space-between;
}
.flexbox {
  display: grid;
  grid-template: repeat(0, 1fr) / repeat(3, 1fr);
  gap: 40px;
  flex-wrap: wrap;
}
i.far.fa-heart {
  position: absolute;
  font-size: 30px;
  left: 94%;
  top: 40px;
}
i.fa.fa-heart {
  position: absolute;
  font-size: 22px;
  color: white;
  left: 94%;
  margin-top: 24px;
  margin-left: 4px;
}
i.fa.fa-heart:hover {
  color: #9356dc;
  transform: scale(1.15);
  transition: all 500ms;
  cursor: pointer;
}

.menu1 {
  padding: 20px;
  background-color: #f2f2f2;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  margin-top: -50px;
  position: relative;
  z-index: 2;
  border-radius: 35px 35px 0px 0px;
}
.flex {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}
// boxe de cards-menu
.box {
  padding: 0px 0px 10px 10px;
  font-size: 16px;
  flex-wrap: wrap;
  border-radius: 15px;
  background-color: white;
  height: 70px;
  margin-left: auto;
  margin-right: auto;
  width: 670px;
  margin: 15px;
  box-shadow: 0 5px 16px #0000002e;
  text-overflow: ellipsis;
}
p.bold {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: bold;
}
.regular {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
// Animation progressive-card
.flex1 {
  animation: pageanim 0.5s ease-in-out both;
  animation-delay: 200ms;
}
.flex2 {
  animation: pageanim 0.5s ease-in-out both;
  animation-delay: 400ms;
}
.flex3 {
  animation: pageanim 0.5s ease-in-out both;
  animation-delay: 600ms;
}
.menu-items {
  display: flex;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
}

.menudescription {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.description-title {
  font-size: 17px;
}
// Parametrage de hover-Check
.chek {
  display: grid;
  place-items: center;
  height: 80px;
  width: 80px;
  margin-left: 20px;
  border-radius: 0px 15px 15px 0px;
  background-color: #99e2d0;
  filter: drop-shadow(0 5px 16px 7px #0000002e);
}
.e {
  display: flex;
  align-items: flex-end;
  font-weight: bold;
}
.fas.fa-check-circle {
  color: white;
  font-size: 28px;
}
.hover-items {
  margin-left: auto;
  display: flex;
  margin-right: -80px;
  transition: ease-in-out 400ms;
}
.menu-items:hover .hover-items {
  margin-right: 0;
}
.menu-items:hover .fas.fa-check-circle {
  animation: spin 550ms ease-in-out;
}
