@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;500;600;700;800;900&family=Roboto:wght@300;400;500&family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;500;600;700;800;900&family=Roboto:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&family=Shrikhand&display=swap");
body {
  font-family: "Roboto", sans-serif;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}

span {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}

p {
  color: black;
  font-weight: 300;
}

h3 {
  color: black;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
  border-bottom: 3px solid #99e2d0;
  width: 50px;
  padding-bottom: 5px;
  margin-left: -15px;
}

ul {
  position: absolute;
  left: 0px;
}

@-webkit-keyframes loader {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
    visibility: hidden;
  }
}

@keyframes loader {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
    visibility: hidden;
  }
}
@-webkit-keyframes opacite {
  50% {
    opacity: 0.8;
  }
  80% {
    opacity: 0.5;
  }
  100% {
    opacity: 0.3;
    visibility: hidden;
  }
}
@keyframes opacite {
  50% {
    opacity: 0.8;
  }
  80% {
    opacity: 0.5;
  }
  100% {
    opacity: 0.3;
    visibility: hidden;
  }
}
@-webkit-keyframes spin {
  from {
    transform: rotate(-280deg);
  }
  to {
    transform: rotate(0deg);
  }
}
@keyframes spin {
  from {
    transform: rotate(-280deg);
  }
  to {
    transform: rotate(0deg);
  }
}
@-webkit-keyframes pageanim {
  0% {
    transform: scaleY(0.4);
    transform-origin: 100% 0%;
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    transform: scaleY(1);
    transform-origin: 100% 0%;
    opacity: 1;
  }
}
@keyframes pageanim {
  0% {
    transform: scaleY(0.4);
    transform-origin: 100% 0%;
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    transform: scaleY(1);
    transform-origin: 100% 0%;
    opacity: 1;
  }
}
/* button */
.bloc-loader {
  border: 10px solid #d3d3d3;
  height: 170px;
  width: 170px;
  border-radius: 50%;
  border-top-color: #9356dc;
  position: fixed;
  left: 45%;
  top: 50%;
  -webkit-animation: 2s loader linear forwards;
  animation: 2s loader linear forwards;
  z-index: 5;
}

.bloc {
  height: 100vh;
  width: 100%;
  z-index: 5;
  position: fixed;
  -webkit-animation: 2s opacite forwards;
  animation: 2s opacite forwards;
  background-color: white;
}

/* header-prancipale */
.header {
  display: flex;
  justify-content: center;
  padding-bottom: 15px;
}

.header img {
  height: 35px;
  width: 210px;
}

.location {
  display: flex;
  justify-content: center;
  padding-top: 15px;
  padding-bottom: 15px;
  box-shadow: inset 0px 3px 1px rgb(191, 188, 188);
  background-color: #d3d3d3;
  margin-left: 0px;
}

div.location-icon {
  margin-right: 10px;
}

div.location-content a {
  text-decoration: none;
  color: black;
  font-size: 17px;
}

div.description {
  display: block;
  text-align: center;
  background-color: #f2f2f2;
  padding-bottom: 50px;
}

.title {
  font-size: 26px;
  margin-top: 0px;
  padding-top: 40px;
  font-weight: 600;
  padding-left: 50px;
  padding-right: 50px;
}

p.sub-title {
  font-size: 16px;
  padding-left: 20px;
  padding-right: 20px;
}

/* Header-2 */
.header1 {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  max-width: 1440px;
  position: relative;
  padding: 10px 0 10px 0;
}

.logo img {
  height: 35px;
  width: 210px;
}

.arrow {
  color: black;
  position: absolute;
  left: 20px;
  top: 13px;
  max-width: 1440px;
}

.headblock img {
  width: 100%;
  height: 380px;
  -o-object-fit: cover;
  object-fit: cover;
  margin-top: 20px;
  z-index: 1;
  position: relative;
}

div.description button.button {
  margin-top: 10px;
  height: 47px;
  width: 210px;
  border-radius: 30px;
  background-image: linear-gradient(135deg, #ff79da, #9356dc);
  box-shadow: 7px 6px 7px rgba(0, 0, 0, 0.1803921569);
  border: 0px;
  cursor: pointer;
  transition: all 200ms;
}

div.description span.button-text {
  color: white;
  font-size: 16px;
  font-weight: 400;
}

button:hover {
  transform: scale(1.05);
  opacity: 0.8;
}

/* Button--Card menu*/
button {
  margin-top: 10px;
  height: 47px;
  width: 210px;
  border-radius: 30px;
  background-image: linear-gradient(135deg, #ff79da, #9356dc);
  box-shadow: 7px 6px 7px rgba(0, 0, 0, 0.1803921569);
  border: 0px;
  cursor: pointer;
  transition: all 200ms;
}

.button-text {
  font-size: 16px;
  color: white;
}

.commander {
  display: block;
  text-align: center;
}

button:hover {
  transform: scale(1.05);
  opacity: 0.8;
}

/* Fonctionnement-commande */
h2.section-title {
  text-align: center;
}

div.step {
  display: flex;
  justify-content: center;
  height: 90px;
  padding-bottom: 15px;
}

div.number-one {
  border-radius: 15px;
  height: 25px;
  width: 25px;
  background-color: #9356dc;
  color: white;
}

div.block {
  display: flex;
  border: none;
  width: 290px;
  border-radius: 20px;
  box-shadow: 0 5px 16px rgba(0, 0, 0, 0.1803921569);
  height: 75px;
  margin-top: 20px;
  background-color: #f2f2f2;
}

div.block:hover {
  background-color: rgba(147, 86, 220, 0.1);
}

div.number-one {
  margin-top: 22px;
  margin-left: -11px;
}

i.fas.fa-mobile-alt:hover {
  color: #9356dc;
}

i.fas.fa-mobile-alt {
  margin-top: 25px;
  margin-left: 15px;
  color: gray;
  font-size: 20px;
}

.block-text {
  color: black;
  padding: 25px;
  font-weight: bold;
  font-size: 15px;
  margin-top: 25px;
}

span.one {
  display: block;
  text-align: center;
  font-size: 14px;
  margin-top: 5px;
}

i.fas.fa-list-ul {
  margin-top: 25px;
  font-size: 20px;
  margin-left: 15px;
  color: gray;
}

i.fas.fa-list-ul:hover {
  color: #9356dc;
}

i.fas.fa-store {
  font-size: 17px;
  margin-top: 25px;
  margin-left: 15px;
  color: gray;
}

i.fas.fa-store:hover {
  color: #9356dc;
}

/* Menu-Resto*/
h2.section-resto {
  text-align: center;
  padding-top: 35px;
  margin-top: 30px;
}

.step2 {
  display: grid;
  grid-template: repeat(2, 1fr) / repeat(2, 1fr);
  gap: 40px;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.menu {
  background-color: #f2f2f2;
  border-radius: 35px 35px 0px 0px;
  display: block;
  padding: 0px 0px 40px 40px;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}

.block2 img {
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
  height: 130px;
  border-radius: 20px 20px 0px 0px;
}

.block2 {
  position: relative;
  box-shadow: 0 5px 16px rgba(0, 0, 0, 0.1803921569);
  border-radius: 20px;
  width: 98%;
  height: 220px;
  min-width: 250px;
  transition: all 200ms;
}

.block2:hover {
  transform: scale(1.05);
}

.resto-texte {
  color: black;
  margin-left: 10px;
}

.new {
  position: absolute;
  top: 0;
  right: 20px;
  background: #99e2d0;
  padding: 4px 13px;
  font-size: 14px;
  color: #369658;
  font-weight: 800;
}

a {
  text-decoration: none;
}

p.resto-subtitle {
  margin-top: -10px;
  font-size: 15px;
}

h3.resto-title {
  font-size: 16px;
}

.heart-white {
  margin-top: -60px;
  position: absolute;
  right: 59px;
  font-size: 24px;
}

.heart-black {
  margin-top: -80px;
  position: absolute;
  right: 59px;
}

/* Card-plat */
.description1 {
  font-weight: 400;
  font-family: "Shrikhand", cursive;
  font-size: 17px;
  display: flex;
  justify-content: space-between;
}

.flexbox {
  display: grid;
  grid-template: repeat(0, 1fr) / repeat(3, 1fr);
  gap: 40px;
  flex-wrap: wrap;
}

i.far.fa-heart {
  position: absolute;
  font-size: 30px;
  left: 94%;
  top: 40px;
}

i.fa.fa-heart {
  position: absolute;
  font-size: 22px;
  color: white;
  left: 94%;
  margin-top: 24px;
  margin-left: 4px;
}

i.fa.fa-heart:hover {
  color: #9356dc;
  transform: scale(1.15);
  transition: all 500ms;
  cursor: pointer;
}

.menu1 {
  padding: 20px;
  background-color: #f2f2f2;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  margin-top: -50px;
  position: relative;
  z-index: 2;
  border-radius: 35px 35px 0px 0px;
}

.flex {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}

.box {
  padding: 0px 0px 10px 10px;
  font-size: 16px;
  flex-wrap: wrap;
  border-radius: 15px;
  background-color: white;
  height: 70px;
  margin-left: auto;
  margin-right: auto;
  width: 670px;
  margin: 15px;
  box-shadow: 0 5px 16px rgba(0, 0, 0, 0.1803921569);
  text-overflow: ellipsis;
}

p.bold {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: bold;
}

.regular {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.flex1 {
  -webkit-animation: pageanim 0.5s ease-in-out both;
  animation: pageanim 0.5s ease-in-out both;
  -webkit-animation-delay: 200ms;
  animation-delay: 200ms;
}

.flex2 {
  -webkit-animation: pageanim 0.5s ease-in-out both;
  animation: pageanim 0.5s ease-in-out both;
  -webkit-animation-delay: 400ms;
  animation-delay: 400ms;
}

.flex3 {
  -webkit-animation: pageanim 0.5s ease-in-out both;
  animation: pageanim 0.5s ease-in-out both;
  -webkit-animation-delay: 600ms;
  animation-delay: 600ms;
}

.menu-items {
  display: flex;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
}

.menudescription {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.description-title {
  font-size: 17px;
}

.chek {
  display: grid;
  place-items: center;
  height: 80px;
  width: 80px;
  margin-left: 20px;
  border-radius: 0px 15px 15px 0px;
  background-color: #99e2d0;
  filter: drop-shadow(0 5px 16px 7px rgba(0, 0, 0, 0.1803921569));
}
.e {
  display: flex;
  align-items: flex-end;
  font-weight: bold;
}

.fas.fa-check-circle {
  color: white;
  font-size: 28px;
}

.hover-items {
  margin-left: auto;
  display: flex;
  margin-right: -80px;
  transition: ease-in-out 400ms;
}

.menu-items:hover .hover-items {
  margin-right: 0;
}

.menu-items:hover .fas.fa-check-circle {
  -webkit-animation: spin 550ms ease-in-out;
  animation: spin 550ms ease-in-out;
}

/* Footer */
footer {
  background-color: #353535;
  display: block;
  text-align: center;
  padding: 35px 0px 35px 0px;
}

a.footer-title {
  font-size: 30px;
  color: white;
  font-family: "shrikhand";
}

div.footer-content {
  margin-top: 15px;
  color: white;
}

a.footer-title {
  font-size: 20px;
}

.footer-content-subtitle {
  margin-top: 12px;
  font-size: 15px;
}

footer a {
  color: white;
}

/* Mobile */
@media only screen and (max-width: 610px) {
  .step2 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    margin-left: -40px;
    padding-left: 12px;
    margin-right: 9px;
  }
  .menu {
    border-radius: 0px;
  }
  h2.section-title {
    text-align: left;
    margin-left: 20px;
    margin-top: 40px;
  }
  h2.section-resto {
    text-align: left;
    margin-top: 40px;
    margin-left: -20px;
  }
  .bloc-loader {
    left: 30%;
    top: 50%;
  }
  .heart-white {
    margin-top: -60px;
    position: absolute;
    right: 30px;
    font-size: 24px;
  }
  .heart-black {
    margin-top: -80px;
    position: absolute;
    right: 30px;
  }
  /* footer */
  .footer-container {
    display: block;
    text-align: left;
    margin-left: 20px;
  }
  a.footer-title {
    font-size: 20px;
  }
  .footer-content-subtitle {
    margin-top: 12px;
    font-size: 15px;
  }
}
@media only screen and (max-width: 850px) {
  .flexbox {
    display: flex;
    flex-direction: column;
  }
  .heart-white {
    margin-top: -60px;
    position: absolute;
    right: 30px;
    font-size: 24px;
  }
  .heart-black {
    margin-top: -80px;
    position: absolute;
    right: 30px;
  }
  i.far.fa-heart {
    position: absolute;
    margin-left: -26px;
  }
  i.fa.fa-heart {
    position: absolute;
    margin-left: -22px;
  }
  .headblock img {
    width: 100%;
    height: 280px;
  }
  .menu1 {
    max-width: 550px;
    margin-left: auto;
    margin-right: auto;
  }
  .box {
    width: 510px;
    margin-left: auto;
    margin-right: auto;
  }
  /* footer */
  .footer-container {
    display: block;
    text-align: left;
    margin-left: 20px;
  }
  a.footer-title {
    font-size: 20px;
  }
  .footer-content-subtitle {
    margin-top: 12px;
    font-size: 15px;
  }
}
@media only screen and (max-width: 550px) {
  .menu1 {
    max-width: 550px;
    margin-left: auto;
    margin-right: auto;
  }
  .box {
    width: 400px;
  }
}
@media only screen and (max-width: 465px) {
  .menu1 {
    max-width: 465px;
    margin-left: auto;
    margin-right: auto;
  }
  .box {
    width: 340px;
  }
}
@media only screen and (max-width: 380px) {
  .menu1 {
    max-width: 380px;
    margin-left: auto;
    margin-right: auto;
  }
  .box {
    width: 270px;
  }
} /*# sourceMappingURL=style.css.map */
