// couleurs site
$rose: #ff79da;
$violet: #9356dc;
$vert: #369658;
$vertclaire: #99e2d0;
$grisclaire: #f2f2f2;
$gris: #d3d3d3;
$grisfonce: #353535;
$violettransparent: rgba(147, 86, 220, 0.1);
